<h2>Lista de Categorias</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success mb-4">Nova categoria</button></a>

{{#each categorias}}
  <div class="card">
    <div class="card-body">
      <h4>{{nome}}</h4>
      <small>{{slug}}</small><br>
      <small>{{data}}</small><br>
      <a href="categorias/edit/{{_id}}"><button class="btn btn-success mt-3">Editar</button></a>
      <form action="/admin/categorias/delete" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-danger mt-3">Deletar</button>
        
      </form>
    </div>
  </div>

{{else}}
  <h4 class="mt-4"><br></br>Nenhuma categoria existente</h4>
{{/each}}