<h4>Lista de postagens</h4>
<a href="/admin/postagens/add"><button class="btn btn-success mb-4">Nova postagem</button></a>

{{#each postagens}}
  <div class="card">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <p>{{descricao}}</p>
      <p>{{conteudo}}</p>
      <small>{{data}}</small>
      <small>{{categoria.nome}}</small><br>
      <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-4">Editar postagem</button></a>
      <a href="/admin/postagens/delete/{{_id}}"><button class="btn btn-danger mt-4">Deletar postagem</button></a>
    </div>
  </div>
{{else}}
  <p>Nenhum postagem</p>
{{/each}}